
.svg-bg-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(281deg) brightness(102%) contrast(102%);
}

.svg-bg-black{
    filter: invert(0%) sepia(0%) saturate(7465%) hue-rotate(325deg) brightness(98%) contrast(107%);
}

.facebook-svg-color {
    filter: invert(33%) sepia(12%) saturate(2421%) hue-rotate(183deg) brightness(98%) contrast(93%);
}

.whatsapp-svg-color {
    filter: invert(54%) sepia(100%) saturate(343%) hue-rotate(90deg) brightness(100%) contrast(98%);
}
.instagram-svg-color{
    filter: invert(28%) sepia(17%) saturate(6904%) hue-rotate(256deg) brightness(90%) contrast(90%);
}
.house-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
.qr-code-scan-svg-color{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(106%) contrast(103%);
}

.envelope-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
.shop-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
.bank-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
.credit-card-2-front-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
.piggy-bank-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
.person-svg-color{
    filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}
